/* main text color #000000  */
/* minor text color rgba(0, 0, 0, 0.8) */
/* white  #ffffff */
/* accent  #18A0FB*/
/* main bg color #ffffff */
/* minor bg color #F5F5F5 */

/* custom css values */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
}

/* ultimate styles */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1440px;
}

/* logo */

.logo {
  margin-right: 120px;

  color: var(--title-text-color);

  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-img {
  vertical-align: middle;
}

/* Nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 60px;
}

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: aquamarine;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 20px;
}

/* sections */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 60px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.section-description {
  margin-top: 0;
  margin-bottom: 80px;

  font-size: 36px;
  line-height: 1.39;
}

.section-description.centered {
  text-align: center;
}

.section-description.no-margin {
  margin: 0;
}

/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}

/* features and works */

.feature-title,
.work-title {
  margin-top: 0;
  margin-bottom: 24px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc((100% - 60px * 1) / 2);
}

.feature:not(:nth-child(2n)) {
  margin-right: 60px;
}

.feature:not(:nth-last-child(-n + 2)) {
  margin-bottom: 90px;
}

.features p {
  margin-top: 0;
  margin-bottom: 32px;
}

/* works */

.work {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: var(--primary-white-color);
}

.work:nth-child(2n) {
  flex-direction: row-reverse;

  background-color: var(--secondary-white-color);
}

.work:nth-child(2n + 1) > .work-description {
  margin-left: 80px;
}

.work:nth-child(2n) > .work-description {
  margin-right: 80px;
}

.work p {
  margin: 0;
}

/* partners */

.partners {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.partner:not(:nth-child(4n)) {
  margin-right: 90px;
}

.partner:not(:nth-last-child(-n + 4)) {
  margin-bottom: 60px;
}

.partner img {
  display: block;
}

/* Invitation */

.invitation {
  background-color: var(--secondary-white-color);
}

.invitation-content {
  display: flex;
  align-items: center;
}

.invitation-content .section-description {
  margin-right: 60px;
}

.invitation-content a {
  min-width: 160px;
}

.invitation-content > .primary {
  margin-right: 30px;
}

/* buttons */

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);

  border-color: var(--accent-color);
}
